<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raisetech.raisetimeline.mapper.RefreshTokenMapper">

    <insert id="insert" parameterType="com.raisetech.raisetimeline.domain.RefreshToken"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO refresh_tokens (user_id, token, expires_at)
        VALUES (#{userId}, #{token}, #{expiresAt})
    </insert>

    <select id="findByToken" resultType="com.raisetech.raisetimeline.domain.RefreshToken">
        SELECT * FROM refresh_tokens WHERE token = #{token}
    </select>

    <delete id="deleteByToken">
        DELETE FROM refresh_tokens WHERE token = #{token}
    </delete>

</mapper>
